{% extends "index.html" %}

{% block content %}
<h1>About ThingiRec</h1>
<hr class="small">
<span class="subheading" align="left">ThingiRec suggests similar users with whom users of the site <a href="http://www.thingiverse.com/" style="text-decoration:underline">Thingiverse.com</a> should connect.</span>
<span class="subheading" align="left">Recommendations are created by comparing the <a href="https://janav.wordpress.com/2013/10/27/tf-idf-and-cosine-similarity/" style="text-decoration:underline">cosine similarity</a> between item descriptions vectorized by <a href="https://janav.wordpress.com/2013/10/27/tf-idf-and-cosine-similarity/" style="text-decoration:underline">tf-idf</a>.</span>
<span class="subheading" align="left">ThingiRec was created by <a href="https://www.linkedin.com/in/robertsenseman" style="text-decoration:underline">Robert Senseman</a> as a capstone project for the <a href="http://www.galvanize.com/courses/data-science/" style="text-decoration:underline">Galvanize Data Science Immersive program</a>.</span>
<span class="subheading" align="left">Project detail can be seen in the project <a href="https://github.com/rsenseman/user_recommender_3d" style="text-decoration:underline">Github repo</a>.</span>
{% endblock %}
