{% extends "index.html" %}

{% block content %}
<h1>Contact Robert</h1>
<hr class="small">
<span class="subheading">Get in touch with Robert to talk data science, additive manufacturing, or the intersection of the two.</span>
<span class="subheading"><a href="https://www.linkedin.com/in/robertsenseman" style="text-decoration:underline">LinkedIn</a></span>
<span class="subheading"><a href="https://github.com/rsenseman/ThingiRec" style="text-decoration:underline">GitHub</a></span>
<span class="subheading"><a href="robert.senseman@gmail.com" style="text-decoration:underline">email</a></span>
{% endblock %}
