{% extends "index.html" %}

{% block content %}
<h1>ThingiRec</h1>
<hr class="small">
{% block recs %}
<span class="subheading">Are you a Thingiverse.com user looking for other users who create similar items?</span>
<span class="subheading">ThingiRec uses content-based filtering to recommend users and parts that may interest you based on your part uploads. Enter your username to see your recommendations!</span>
<span class="subheading"><a href="https://github.com/rsenseman/ThingiRec" style="text-decoration:underline">Check out the project details and more of Robert's work on Github</a></span>
<hr class="small">
{% endblock %}

<form action="/recommend" method='POST' >
<input type="text" name="user_input" placeholder="Search username..." style="
  background:#ffffff;
  border: none;
  font: bold 14px/12px 'Open Sans','HelveticaNeue', Helvetica, Arial, sans-serif;
  color: #404040;
  margin-top: 10px;
  margin-right: 2px;
  padding: 10px;
  width: 200px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  "/>
<input type="submit" style="
	background:#ff0000;
	border: none;
	color:#ffffff;
	cursor: pointer;
	font: bold 14px/12px 'Open Sans','HelveticaNeue', Helvetica, Arial, sans-serif;
	padding: 12px;
	width: 106px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  "/>
</form>
{% endblock %}
