{% extends "home.html" %}

{% block recs %}
<h4 style="text-align:center">Recommended Users:</h4>
<ul style="list-style-type:none; font: 300 24px/1.1 'Open Sans','HelveticaNeue', Helvetica, Arial, sans-serif;">
  {% for x in users %}
    <li><a href="http://www.thingiverse.com/{{ x }}/designs">{{ x }}</a></li>
  {% endfor %}
</ul>
<hr>
<h4>Recommended Parts:</h4>
<ul id="parts" style="list-style-type:none; font: 300 24px/1.1 'Open Sans','HelveticaNeue', Helvetica, Arial, sans-serif;" class="list-inline text-center">
  <li>
    <ul style="list-style-type:none">
      {% for x in part_numbers %}
        <li><a href="http://www.thingiverse.com/thing:{{ x }}">Link</a></li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <ul style="list-style-type:none" align="left">
      {% for x in part_names %}
        <li>{{ x }}</li>
      {% endfor %}
    </ul>
  </li>

</ul>
<hr>
<h4>Search for another user to get EVEN MORE SUGGESTIONS!</h4>
{% endblock %}
